[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MALDIassist"]
	path = MALDIassist
	url = https://github.com/hiows/maldiassist
[submodule "STATassist"]
	path = STATassist
	url = https://github.com/hiows/statassist
